
#cart{
    position: relative;
}
.cart {
  @include dimension(100%,75vh);
  margin: auto;
  margin-top: 120px;
  border-radius: 12px;
  background-color: white;
}
  .paynow_button {
    @include dimension(100%,auto);
    background-color: red;
    position: absolute;
    bottom: 0;
    padding: 10px;
  }

.top{
  margin-top: 10px;

}