.Welcome_page {
    background-image: url("/images/welcome_background.jpg");
    @include dimension(100%, 100vh);
    background-position: center;
    background-repeat: no-repeat;
  
    .logo {
      display: flex;
      justify-content: center;
      padding-top: 25vh;
    }
    h1 {
      text-align: center;
    }
    h2 {
      margin-top: 10px;
      text-align: center;
    }
  
    .ordernow_button {
        margin-top: 10px;
        padding: 10px 50px;
      }
  
      button:hover {
        background-color: #4caf50;
        color: $tertiary;
      }
  
  } // Welcome_page end !
  
  #home {
    @include dimension(100%, auto);
  }
  
  .head {
    @include dimension(100%, 100px);
    background-color: $primary;
    position: fixed;
    top: 0px;
    left: 0px;
  }
  
  .search input[type="text"] {
    @include dimension(30%, auto);
    float: right;
    padding: 10px;
    margin-top: 50px;
    margin-right: 50px;
    border: $primary;
    border-radius: 12px;
    font-size: 17px;
  } //search end !
  
  .navbar {
    @include dimension(768px, auto);
    background-color: grey;
    border-radius: 12px;
    top: 90vh;
    position: fixed;
  
    li {
      display: inline;
    }
  } ///////navbar end here
  
  .icon_img {
    width: 10%;
    max-width: 40px;
    margin: 10px 74.2px;
  }
  
  .heading_txt {
    text-align: center;
    padding-top: 40px;
    letter-spacing: 2px;
  }
  
  .promotions {
    @include dimension(100%, auto);
    float: left;
  
    .promotion {
      @include dimension(49.8%, auto);
      display: inline-block;
      border-radius: 12px;
    }
    .promotion_img {
      width: 100%;
      height: auto;
      border-radius: 12px;
    }
  }
  
  #cart {
    @include dimension(20%, auto);
    min-height: 250px;
    top: 120px;
    right: 20px;
    position: fixed;
    float: right;
    border-radius: 12px;
    border: 2px solid red;
  
    .paynow_button {
      width: 100%;
      padding: 10px;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
  
  #menu {
    @include dimension(77%, auto);
    float: left;
    margin: 10px 0px 0 20px;
    background-color: blue;
  }
  
  #filter_Container {
    top: 100px;
    position: sticky;
    background-color: green;
  }
  
  .item_container {
    overflow: hidden;
    @include dimension(100%, auto);
  }
  .menu_item {
    @include dimension(24%, auto);
    float: left;
    color: black;
    background-color: white;
    border-radius: 12px;
    line-height: 20px;
    text-align: center;
    margin-right: 1%;
    margin-bottom: 1%;
    display: none; /* Hidden by default */
  }
  
  .menu_img_container {
    @include dimension(40%, auto);
    float: left;
  }
  
  .description {
    @include dimension(60%,auto);
    border: 1px solid red;
    float: right;
    max-width: 140px;
  }
  
  .menu_item_heading {
    @include font($ff, 18px, black);
  }
  
  .menu_img {
    width: 100%;
    border: 1px solid blue;
    // min-height: 140px;
    border-radius: 12px;
  }
  
  .price{
    color:black;
    font-family: $ff;
    font-size: 20px;
    float: left;
    margin: 5px;
  
  }
  
  .item_add_button {
    float: right;
    margin: 5px;
    padding: 5px 10px;
  }
  
  /* The "show" class is added to the filtered elements */
  .show {
    display: block;
  }
  
  /* Style the buttons */
  .btn {
    font-family: $ff;
    font-size: 16px;
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: black;
    margin: 10px 20px 10px 0px;
    cursor: pointer;
  }
  
  /* Add a light grey background on mouse-over */
  .btn:hover {
    background-color: $primary;
  }
  
  /* Add a dark background to the active button */
  .btn.active {
    background-color: $primary;
    color: white;
  }
  