.button_container {
  display: flex;
  justify-content: center;
}

.flex_center {
  display: flex;
  justify-content: center;
}

.flex_row_wrap{
  display: flex;
  flex-flow: row wrap;
}

.flex_end {
  display: flex;
  justify-content: flex-end;
}

.row {
  @include dimension(100%, auto);
}

.col {
  float: left;
}

// clears the float after row
.clearfix::after {
  clear: both;
  display: table;
  content: "";
}
