.menu {
    margin: auto;
  }
  
  #filter_Container {
    top: 100px;
    position: sticky;
    background-color: $bc;
  }
  
  .item_container {
    overflow: hidden;
  }

  .menu_item {
    background-color: white;
    border-radius: 12px;
    padding: 10px;
  }
  
  .menu_img_container {
    border: 1px solid red;
  }
  
  .description {
    border: 1px solid red;
  }
  
  .menu_item_heading {
    text-align: center;
    margin-top: 10px;
    @include font($ff, 20px, black);
  }
  
  .menu_img {
    width: 100%;
    border: 1px solid blue;
    // min-height: 140px;
    // border-radius: 12px;
  }
  
  // .item_price{
  //   color:black;
  //   font-family: $ff;
  //   font-size: 20px;
  //   float: left;
  //   margin: 5px;
  
  // }
  
  .item_add_button {
    margin: 5px;
    padding: 5px 10px;
  }

  /* The "show" class is added to the filtered elements */
  .show {
    display: block;
  }
  
  /* Style the buttons */
  .btn {
    font-family: $ff;
    font-size: 16px;
    border: none;
    outline: none;
    padding: 5px 10px;
    background-color: black;
    margin: 5px 10px 5px 0px;
    cursor: pointer;
  }
  
  /* Add a light grey background on mouse-over */
  .btn:hover {
    background-color: $primary;
  }
  
  /* Add a dark background to the active button */
  .btn.active {
    background-color: $primary;
    color: white;
  }