#menu {
    @include dimension(90%, auto);
    margin: auto;
  }
  
  #filter_Container {
    top: 100px;
    position: sticky;
    background-color: $bc;
  }
  
  .item_container {
    overflow: hidden;
    @include dimension(100%, auto);
  }
  .menu_item {
    @include dimension(100%, auto);
    float: left;
    background-color: white;
    border-radius: 12px;
    line-height: 20px;
    text-align: center;
    margin-right: 1%;
    margin-bottom: 1%;
    display: none; /* Hidden by default */
  }
  
  .menu_img_container {
    @include dimension(40%, auto);
    border: 1px solid red;
    float: left;
  }
  
  .description {
    @include dimension(60%,auto);
    border: 1px solid red;
    float: right;
    max-width: 140px;
  }
  
  .menu_item_heading {
    @include font($ff, 18px, black);
  }
  
  .menu_img {
    width: 100%;
    border: 1px solid blue;
    // min-height: 140px;
    border-radius: 12px;
  }
  
  .price{
    color:black;
    font-family: $ff;
    font-size: 20px;
    float: left;
    margin: 5px;
  
  }
  
  .item_add_button {
    float: right;
    margin: 5px;
    padding: 5px 10px;
  }

  /* The "show" class is added to the filtered elements */
  .show {
    display: block;
  }
  
  /* Style the buttons */
  .btn {
    font-family: $ff;
    font-size: 16px;
    border: none;
    outline: none;
    padding: 5px 10px;
    background-color: black;
    margin: 5px 10px 5px 0px;
    cursor: pointer;
  }
  
  /* Add a light grey background on mouse-over */
  .btn:hover {
    background-color: $primary;
  }
  
  /* Add a dark background to the active button */
  .btn.active {
    background-color: $primary;
    color: white;
  }