
.navbar {
    @include dimension(100%,auto);
    background-color:white;
    bottom: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    

    .navbar_icons{
        text-align: center;
        padding:5px 5px;
    }

    .icon_img {
        width: 50%;
      }
  } ///////navbar end here
