@media screen and (min-width: 426px) and (max-width: 1025px) {

  .promotions{
  margin: 1%;

  .promotion_img{
  border-radius: 12px;
}
}

.menu_item {
  @include dimension(48%,auto);
}



  .col-sm-1 {
    width: 100%/12 * 1;
  }
  .col-sm-2 {
    width: 100%/12 * 2;
  }
  .col-sm-3 {
    width: 100%/12 * 3;
  }
  .col-sm-4 {
    width: 100%/12 * 4;
  }
  .col-sm-5 {
    width: 100%/12 * 5;
  }
  .col-sm-6 {
    width: 100%/12 * 6;
  }
  .col-sm-7 {
    width: 100%/12 * 7;
  }
  .col-sm-8 {
    width: 100%/12 * 8;
  }
  .col-sm-9 {
    width: 100%/12 * 9;
  }
  .col-sm-10 {
    width: 100%/12 * 10;
  }
  .col-sm-11 {
    width: 100%/12 * 11;
  }
  .col-sm-12 {
    width: 100%/12 * 12;
  }
} /////media screen end here
