@import "variables";
@import "mixins";
@import "reset";
@import "typography";
@import "containers";
@import "button";
@import "mobile";
@import "desktop";

.Welcome_page {
  background-image: url("/images/welcome_background.jpg");
  @include dimension(100%, 100vh);
  background-position: center;
  background-repeat: no-repeat;

  .logo {
    display: flex;
    justify-content: center;
    padding-top: 25vh;
  }
  h1 {
    text-align: center;
  }
  h2 {
    margin-top: 10px;
    text-align: center;
  }
  
} // Welcome_page end !

.ordernow_button {
  margin: auto;
  margin-top: 10px;
  @include font($ff, 20px, white);
  padding: 10px 50px;

}

button:hover {
  background-color: #4caf50;
  color: $tertiary;
}




.home {
  @include dimension(100%, 100vh);
}

.head {
  @include dimension(100%, 100px);
  background-color: $primary;
}

.search input[type="text"] {
  @include dimension(30%, auto);
  float: right;
  padding: 10px;
  margin-top: 50px;
  margin-right: 50px;
  border: $primary;
  border-radius: 12px;
  font-size: 17px;
  border: 2px solid green;
} //search end !

.navbar {
  @include dimension(768px, auto);
  background-color: grey;
  border-radius: 12px;
  top: 90vh;
  position: fixed;

  li {
    display: inline;
  }
}

.icon_img {
  width: 10%;
  max-width: 40px;
  margin: 10px 74.2px;
}

.heading_txt{
  text-align: center;
  padding-top: 40px;
  letter-spacing: 2px;
}

.promotion_containers{
  // @include dimension(80%, auto);
  background-color: green;
  margin: 10px 30px;
  max-width: 70%;

  .promotions{
    @include dimension(49.8%,250px);
    border: 2px solid yellow;
    display: inline-block;
    border-radius: 12px;
  }
}

.menu_container{
  @include dimension(100%, auto);
}